

#logo {
    width: 7rem;
}

#brief-me {
font-family: 'Montserrat', sans-serif;
font-size: 220px;
margin: 0;
z-index: 1;
-webkit-text-fill-color: transparent;
/* -webkit-text-stroke: 1px black; */
-webkit-background-clip: text;
background-image: url(crew.jpg);
}

svg {
	width: 6em; height: 1.5em;
	font: 900 500%/1.2 'Arial Black', sans-serif;
}

text { fill: url(frida.jpg); }

.wraps-all {
    height: 100vh;
    width: 100%;
}

.uploader {
    width: 400px;
    height: 200px;
    background-color: LightGray;
    float: right;
}

.avatar {
    width: 7rem;
    float: right;
}

header {
    border: 2px solid pink;
}

.main-container {
    /* border: 2px solid yellow; */
}

.profile-avatar img {
    float: left;
    width: 17rem;
}
